.block_sharing_cart .sc-indent-0 {
    margin-left: 0em;
}

.block_sharing_cart .sc-indent-1 {
    margin-left: 0.5em;
}

.block_sharing_cart .sc-indent-2 {
    margin-left: 1em;
}

.block_sharing_cart .sc-indent-3 {
    margin-left: 1.5em;
}

.block_sharing_cart .sc-indent-4 {
    margin-left: 2em;
}

.block_sharing_cart .sc-indent-5 {
    margin-left: 2.5em;
}

.block_sharing_cart .sc-indent-6 {
    margin-left: 3em;
}

.block_sharing_cart .sc-indent-7 {
    margin-left: 3.5em;
}

.block_sharing_cart .sc-indent-8 {
    margin-left: 4em;
}

.block_sharing_cart .sc-indent-9 {
    margin-left: 4.5em;
}

.block_sharing_cart .sc-indent-10 {
    margin-left: 5em;
}

.block_sharing_cart .sc-indent-11 {
    margin-left: 5.5em;
}

.block_sharing_cart .sc-indent-12 {
    margin-left: 6em;
}

.block_sharing_cart .sc-indent-13 {
    margin-left: 6.5em;
}

.block_sharing_cart .sc-indent-14 {
    margin-left: 7em;
}

.block_sharing_cart .sc-indent-15 {
    margin-left: 7.5em;
}

.block_sharing_cart .sc-space-1 {
    margin-left: 1px;
}

.block_sharing_cart .sc-space-2 {
    margin-left: 2px;
}

.block_sharing_cart .sc-space-3 {
    margin-left: 3px;
}

.block_sharing_cart .sc-space-4 {
    margin-left: 4px;
}

.block_sharing_cart .sc-space-5 {
    margin-left: 5px;
}

.block_sharing_cart .tree.list {
    font-size:90%;
}

.course-content .move_target {
    max-width: 100%;
    border: 2px dashed #999;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
}

.course-content .clipboard {
    max-width: 100%;
    border: 2px dashed #999;
    margin-bottom: 15px;
    padding: 10px;
    font-weight: bold;
}

.course-content h3.sectionname a:nth-child(1) {
    margin-right: 5px;
}

.course-content h3.sectionname .inplaceeditable-text .icon {
    margin-right: 0;
}

.course-content .action-menu-item .icon {
    margin-right: 0;
}

.format-grid #section-0 .sectionname .fa {
    padding-left: 5px;
}

.editing.format-grid .course-content h3.sectionname .add-to-sharing-cart {
    padding-top: 15px;
}

body:not(.editing) .course-content .sectionname .add-to-sharing-cart { /* Visitor mode */
    z-index: 1;
}

.block_sharing_cart div.dragging_item {
    animation: drop_area ease-in-out .5s forwards;
    filter: blur(2px);
}

@keyframes drop_area {
    100% {
        background-color: lightslategrey;
    }
}

.sharing_cart_basket.drag_over {
    filter: brightness(.8);
}

.sharing_cart_basket.shake_basket {
    animation: shake_basket infinite 3s linear !important;
}

@keyframes shake_basket {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(-30deg);
    }
    20% {
        transform: rotate(30deg);
    }
    30%, 100% {
        transform: rotate(0deg);
    }
}